@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=TikTok+Sans:opsz@12..36&display=swap');
* {
  font-family: "TikTok Sans", sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


